
.action_container {
    height: 5rem;
    padding-left: 5rem;
    padding-right: 5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.search {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 100%;
}

.refresh {
    display: flex;
    justify-content: end;
    align-items: center;
    height: 100%;
}
