.loading_container {
    display: flex;
    height: 15rem;
    justify-content: center;
    align-items: center;
    background-color: #e3e3e3;
    min-width: 95vw;
    border-radius: 5px;
}

.action_container {
    height: 5rem;
    padding-left: 5rem;
    padding-right: 5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.search {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 100%;
}

.refresh {
    display: flex;
    justify-content: end;
    align-items: center;
    height: 100%;
}
